<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebAssignmnetSale</title>
    <link rel="stylesheet" href="~/WebAssignmnetSale.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


    <style>

        .content-wrapper {
            margin-top: 56px;
        }

    </style>
</head>

@functions {
    public string IsActive(string controller, string action)
    {
        string currentController = ViewContext.RouteData.Values["Controller"].ToString();
        string currentAction = ViewContext.RouteData.Values["Action"].ToString();

        if ((currentController == controller) && (currentAction == action))
        {
            return "active";
        }

        return "";
    }
    public string SumPage()
    {
        return string.Join(" ", IsActive("Home", "SummarySale"),
        IsActive("Home", "InsertAssignment"),
        IsActive("Home", "EditAssign"),
        IsActive("Home", "Report"),
        IsActive("Home", "EditReportAssign"),
        IsActive("Recycle", "Recycle"),
        IsActive("Recycle", "EditRecycleAssign"));
    }
    public string ProPage()
    {
        return IsActive("Home", "Setting");
    }
}

<body class="hold-transition sidebar-mini layout-fixed">
    <!--cookie-->
    @* <div class="d-none">
        @Context.Request.Cookies.TryGetValue("LoggedInUsername", out string? LoggedInUsername);
        @Context.Request.Cookies.TryGetValue("LoggedInEmpId", out string? LoggedInEmpId);
    </div> *@


    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-black navbar-dark fixed-top">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto me-2">
                <li>
                    <a asp-controller="Login" asp-action="Logout" class="text-decoration-none link-danger">
                        @* <a asp-controller="Login" asp-action="Logout" class="text-decoration-none link-danger"> *@

                        <i class="fa-solid fa-right-from-bracket me-1"></i><strong>LOGOUT</strong>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="SummarySale" class="brand-link text-decoration-none">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light"><strong>Expert</strong>Sales</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <span class="hidden-xs">
                            @* @if (!string.IsNullOrEmpty(LoggedInUsername))
                            {
                                <span class="text-light">Welcome : <b class="text-warning">@LoggedInUsername</b></span>
                            } *@
                            
                            @if (!string.IsNullOrEmpty(Context.Session.GetString("UserName")))
                            {
                                <span class="text-light">Welcome : <b class="text-warning">@Context.Session.GetString("UserName")</b></span>
                            }
                        </span>
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="SummarySale" class="nav-link @SumPage()">
                                <i class="nav-icon fas fa-clipboard-list ml-1"></i>
                                <p class="ml-2"> Summary </p>
                            </a>
                        </li>
                        @* @if (LoggedInEmpId != "0")
                        {

                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Setting" asp-route-EmpId="@LoggedInEmpId" class="nav-link @ProPage()">
                                    <i class="nav-icon fas fa-user ml-1"></i>
                                    <p class="ml-2"> Profile </p>
                                </a>
                            </li>

                        } *@
                        @if (Context.Session.GetString("EmpId") != "0")
                        {

                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Setting" asp-route-EmpId="@Context.Session.GetString("EmpId")" class="nav-link @ProPage()">
                                    <i class="nav-icon fas fa-user ml-1"></i>
                                    <p class="ml-2"> Profile </p>
                                </a>
                            </li>

                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                V.1
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2024 <a asp-area="" asp-controller="Home" asp-action="SummarySale">Expert</a>.</strong> All rights reserved.
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>


    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>


    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


